@import url('_fonts.css');

body{
    font-family: 'myGothamFont';
}
h2{
    font-size: 42px;
}
h3{
    font-size: 30px;
}
p{

}
button:focus{
    outline: 0;
}

.text-uppercase{
    text-transform: uppercase;
}
.m-0{
    margin: 0;
}
.p-0{
    padding: 0;
}
.rounded-icon{
    border-radius: 50%;
}
.f-18{
    font-size: 18px;
}
.btn{
    min-width: 250px;
    background-color: #02377b;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.btn.btn-large{
    padding: 15px;
}
.btn.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn.btn-rounded{
    border-radius: 30px;
}
.pre-number{
    display: inline-block;
    background-color: #d68d00;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.content{
    min-height: 500px;
    background-color: #04306f;
    background-image: url('/assets/img/bg.jpg');
    background-size: cover;
    background-position: center bottom;
}

.footer .footer-content{
    display: block;
    margin: 0 0 30px;
    border-bottom: 1px solid #e9e9e9;
}
.footer p{
    color: #929ba4;
}
.footer-links ul{
    list-style: none;
    text-align: center;
}
.footer-links ul li{
    display: inline-block;
}

.s-form{
    display: block;
    max-width: 520px;
}
.s-form input.s-input{
    font-size: 14px;
    height: 65px;
    padding-left: 70px;
    box-shadow: none;
    border: none;
    border-radius: 38px;
}
.s-form input.s-input:hover{
    box-shadow: 0 0 15px 0 rgba(255,255,255,0.8);
}
.s-form .s-input-group{
    position: relative;
}
.s-form .s-input-group span.pre-number{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.s-form .s-dropdown-group{
    position: relative;
}
.s-form .s-dropdown-group .caret{
    position: absolute;
    top: 28px;
    right: 20px;
    font-size: 17px;
    color: #aaa;
    cursor: pointer;
}
.s-form .s-dropdown-group .s-choices{
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
    z-index: 2;
}
.s-form .s-dropdown-group .s-choices ul{
    list-style: none;
    margin: 0;
    padding: 20px 15px;
}
.s-form .s-dropdown-group .s-choices ul li{
    color: #777;
    padding: 5px 10px 5px 30px;
}
.s-form .s-dropdown-group .s-choices ul li:hover{
    background-color: #bcd3e3;
    color: #111;
}

.reviews{
    display: block;
    max-width: 450px;
    float: right;
}
.reviews .review-item{
    position: relative;
    color: #fff;
    margin: 0 0 30px;
    padding: 15px 0 20px;
    border-bottom: 1px solid #eee;
}
.reviews .review-item:last-of-type{
    border-bottom: none;
}
.reviews .review-item .rev-profile{
    position: absolute;
    top: 15px;
    left: 0;
    width: 140px;
    z-index: 2;
}
.reviews .review-item .rev-profile span{
    display: block;
}
.reviews .review-item .rev-content{
    position: relative;
    padding-left: 120px;
    vertical-align: top;
}
.reivews .rev-title{
    font-weight: bold;
}

.s-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5% 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 997;
}
.s-modal.active{
    display: block;
}
.s-modal .s-modal-dialog{
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 20px 30px;
    background-color: #fff;
    border-radius: 8px;
    z-index: 998;
}
.s-modal .s-modal-close{
    position: absolute;
    top: 15px;
    right: 5px;
}
.s-modal .s-modal-close button{
    background: transparent;
    color: gray;
    font-size: 40px;
    line-height: 25px;
    border: 0;
    box-shadow: none;
}
.s-modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.6;
    z-index: 990;
}