@import url('_fonts.css');

body{
    font-family: 'myGothamFont';
}
h2{
    font-size: 42px;
}
h3{
    font-size: 30px;
}
p{

}
button:focus{
    outline: 0 !important;
}
label{
    font-weight: normal;
}
a{
    cursor: pointer;
}
a:hover{
    color: inherit;
    transition: all .3s;
}

.text-uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}
.text-white{
    color: #fff;
}
.text-dark{
    color: #222;
}
.text-url{
    text-decoration: underline;
}
.text-muted{
    color: #dadada;
}
.m-0{
    margin: 0;
}
.mt-5{
    margin-top: 5px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-50{
    margin-top: 50px;
}
.mb-0{
    margin-bottom: 0;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.p-0{
    padding: 0;
}
.rounded-icon{
    border-radius: 50%;
}
.f-18{
    font-size: 18px;
}
.f-20{
    font-size: 20px;
}
.f-light{
    font-weight: 300;
}
.f-normal{
    font-weight: normal;
}
.f-medium{
    font-weight: 500;
}
.d-iblock{
    display: inline-block;
}
.divider{
    display: block;
    width: 100%;
    height: 1px;
    background-color: #333;
    margin: 0 0 20px;
}
.btn{
    min-width: 250px;
    font-weight: bold;
    background-color: #02377b;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transition: all .3s;
}
.btn.btn-large{
    padding: 15px;
}
.btn.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn.btn-rounded{
    border-radius: 30px;
}
.btn:hover{
    background-color: #0e2746;
}
.btn:hover,
.btn:visited{
    color: #fff;
}
.pre-number{
    display: inline-block;
    font-weight: bold;
    background-color: #d68d00;
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
}

.header{
    display: block;
    padding: 15px 0;
}
.header .logo-wrapper{
    display: inline-block;
}
.header .logo{
    max-width: 288px;
}
.header .logo-subtitle{
    display: inline-block;
    font-weight: bold;
    color: #012667;
    text-transform: uppercase;
    vertical-align: bottom;
    margin: 8px;
}
.header .header-list{
    list-style: none;
}
.header .header-list li{
    position: relative;
    font-weight: 500;
    line-height: 22px;
    padding-left: 25px;
}
.header .header-list li:before{
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Glyphicons Halflings';
    content: "\e013";
    color: #3e9d03;
}

.content{
    min-height: 500px;
    background-color: #04306f;
    background-image: url('/assets/img/bg.jpg');
    background-size: cover;
    background-position: center bottom;
}
.content .content-wrapper{
    padding: 20px 0 10px;
}

.footer{
    padding: 30px 0;
}
.footer .footer-content{
    display: block;
    margin: 0 0 30px;
    border-bottom: 1px solid #e9e9e9;
}
.footer p{
    color: #929ba4;
}
.footer .footer-links{
    margin: 20px 0 0;
}
.footer .footer-links ul{
    list-style: none;
    text-align: center;
}
.footer .footer-links ul li{
    position: relative;
    display: inline-block;
    padding: 0 15px;
}
.footer .footer-links ul li.has-divider:before{
    position: absolute;
    top: -4px;
    left: -2px;
    font-size: 18px;
    content: ".";
    color: #ababab;
    line-height: 18px;
}
.footer .footer-links ul li a{
    color: #ababab;
}
.footer .footer-links ul li a:hover{
    color: #00296c;
}
.footer .partners img{
    margin-bottom: 10px;
}
.footer .copyright{
    display: block;
    font-size: 12px;
    line-height: 22px;
    margin: 50px 0 20px;
}

.s-form{
    display: block;
    max-width: 520px;
}
.s-form input.s-input{
    font-size: 14px;
    height: 65px;
    padding-left: 70px;
    box-shadow: none;
    border: none;
    border-radius: 38px;
}
.s-form input.s-input:hover{
    box-shadow: 0 0 15px 0 rgba(255,255,255,0.8);
}
.s-form .s-input-group{
    position: relative;
}
.s-form .s-input-group span.pre-number{
    position: absolute;
    top: 17px;
    left: 17px;
    z-index: 1;
}
.s-form .s-dropdown-group{
    position: relative;
}
.s-form .s-dropdown-group .caret{
    position: absolute;
    top: 28px;
    right: 20px;
    font-size: 17px;
    color: #aaa;
    cursor: pointer;
}
.s-form .s-dropdown-group .s-dropdown-selector{
    cursor: pointer;
}
.s-form .s-dropdown-group .s-choices{
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
    z-index: 2;
}
.s-form .s-dropdown-group .s-choices.open{
    display: block;
}
.s-form .s-dropdown-group .s-choices ul{
    list-style: none;
    margin: 0;
    padding: 20px 15px;
}
.s-form .s-dropdown-group .s-choices ul li a{
    display: block;
    width: 100%;
    color: #777;
    padding: 5px 10px 5px 30px;
}
.s-form .s-dropdown-group .s-choices ul li a:hover{
    color: #111;
    text-decoration: none;
}
.s-form .s-dropdown-group .s-choices ul li:hover{
    background-color: #bcd3e3;
}

.reviews{
    display: block;
    max-width: 450px;
    float: right;
}
.reviews .review-item{
    position: relative;
    min-height: 130px;
    color: #fff;
    margin: 0 0 20px;
    padding: 15px 0 20px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.reviews .review-item:last-of-type{
    border-bottom: none;
}
.reviews .review-item .rev-profile{
    position: absolute;
    top: 15px;
    left: 0;
    width: 100px;
    text-align: center;
    z-index: 2;
}
.reviews .review-item .rev-profile img{
    margin-bottom: 8px;
}
.reviews .review-item .rev-profile span{
    display: block;
}
.reviews .review-item .rev-profile .name{
    font-size: 13px;
    font-weight: bold;
}
.reviews .review-item .rev-profile .address{
    font-size: 11px;
    font-weight: 500;
    color: #dadada;
}
.reviews .review-item .rev-content{
    position: relative;
    padding-left: 110px;
    vertical-align: top;
}
.reviews .review-item .rev-content .rev-title{
    font-size: 12px;
    font-weight: bold;
    margin: 0 20px 0 0;
}
.reviews .review-item .rev-content .comment{
    font-size: 11px;
    font-style: italic;
    margin: 10px 0 5px;
    line-height: 20px;
    letter-spacing: .03em;
}
.reviews .review-item .rev-content .read-review{
    font-size: 10px;
    font-weight: bold;
    color: #fbd243;
}

.ratings span.rating{
    color: #656565;
}
.ratings span.rating.full{
    color: #d89108;
}

.s-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5% 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 997;
}
.s-modal.active{
    display: block;
}
.s-modal .s-modal-dialog{
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 30px 40px;
    background-color: #fff;
    border-radius: 8px;
    z-index: 998;
}
.s-modal .s-modal-dialog.s-modal-dialog-small{
    max-width: 500px;
}
.s-modal .s-modal-dialog.s-modal-dialog-large{
    max-width: 700px;
}
.s-modal .s-modal-close{
    position: absolute;
    top: 15px;
    right: 5px;
}
.s-modal .s-modal-close button{
    background: transparent;
    color: gray;
    font-size: 40px;
    line-height: 25px;
    border: 0;
    box-shadow: none;
}
#s-modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.6;
    z-index: 990;
}
.modal-checkbox-list .custom-control{
    margin-bottom: 15px;
}
.modal-checkbox-list .custom-control label{
    margin-left: 10px;
}

.addcat-list-wrapper{
    display: block;
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}
.additional-cat-list{
    list-style: none;
}
.additional-cat-list li{
    line-height: 20px;
    margin: 15px 0;
}

.modal-ratings-list{
    list-style: none;
}
.modal-ratings-list li{
    position: relative;
    margin: 3px 0;
}
.modal-ratings-list li .ratings{
    position: absolute;
    right: 0;
}

.client-review-user{
    margin: 0 0 30px;
}
.client-review-user .profile-img{
    position: absolute;
}
.client-review-user .profile-info{
    padding: 15px 0 0 100px;
}
.client-review-user .profile-info h3{
    font-size: 24px;
    margin: 0;
}
.client-review-user .profile-info span{
    display: block;
}

@media screen and (max-width: 990px){
    .header .logo-subtitle{
        display: block;
    }
    .content .s-form{
        max-width: 100%;
    }
    .content .reviews{
        float: left;
        max-width: 100%;
        margin: 50px 0;
    }
    .m-pull-left{
        float: left !important;
    }
    .m-full-width{
        width: 100%;
    }
    .m-text-center{
        text-align: center;
    }
    .m-mt-20{
        margin-top: 20px
    }
    .m-mb-10{
        margin-bottom: 10px
    }
    .m-mb-30{
        margin-bottom: 30px
    }
}